[2019-07-31 07:13] TestShaligram opened #29 "Not getting expiryMonth and expiryYear after scan"
When I scan my card in iOS it scans card number, expiry month and expiry year but in android, when I scan the same card it only scans card number. I am not getting expiry month and expiry year.
Here it is my code:

[code]

[2019-07-31 08:51] kingst commented on #29
When you scan it on Android does the expiration date appear in white? You can see what I'm talking about in this [gif](https://raw.githubusercontent.com/getbouncer/cardscan-android/master/card_scan.gif). In other words, is the issue that the library detects the expiration date but isn't surfacing it appropriately or that it isn't picking it up at all?

[2019-07-31 11:39] TestShaligram commented on #29
It isn't picking at all.

[2019-07-31 12:33] TestShaligram commented on #29
Sorry, but there was an issue in a card(there were scratches on the card on valid thru), by changing card it is working now :)

[2019-07-31 12:33] #29 closed

[2019-08-14 13:48] SkariDamm opened #31 "Vertically misaligned frames on some devices"
First of all, thanks for a great library! I've been working on implementing basic payment card scanning into a react native application with good success.

There is a minor layout issue on some devices. I noticed it on a Pixel 3XL but on a standard Pixel 1 it works fine. I'm assuming it might have something to do with the notch on the Pixel 3XL since it seems to be misaligned by the height of the

[2019-08-14 15:19] kingst commented on #31
Which version of the library are you on? I just tried it on my 3xl simulator and it seemed ok.

![image](https://user-images.githubusercontent.com/474745/63033307-40895c00-be6c-11e9-9754-dfb0679a74dc.png)

[2019-08-14 15:22] kingst commented on #31
Oh I think I can see a difference, it looks like you have a black strip at the top where as my version goes around the notch. This could be a build setting or library version issue. If you can help me reproduce it I'll fix it.

Can you post your project source code somewhere?

[2019-08-15 11:26] SkariDamm commented on #31
I'm not really in the position to share our complete source code, but I might be able to share certain bits if you tell me what it is you'd like to inspect.

If you'd like to try reproducing it on your end you should know we're developing a react native app that uses react navigation for navigation. This screen is the only one that has this black banner surrounding the notch. I'm running version 1

[2019-08-15 13:47] kingst commented on #31
We don't have any experience with react native, so if you could create a "hello world" app that uses react navigation to embed the cardscan activity and we can reproduce it, we'll be able to debug and fix this much quicker.

[2019-08-20 09:20] Abdelrhman22 opened #32 "Reading Expire date Problem"
Some Cards the Scanner can read it's number and expire date , and some can only read it's number only ?

[2019-08-20 15:53] kingst commented on #32
The expiry model isn't as good as the number model so sometimes the SDK will only return the number. We're in the process of improving it now and are currently running an A/B test to see if it matters for conversion.

[2019-08-21 09:40] arbitur opened #33 "Camera is stretched vertically making the card unscannable."
Device: Samsung Galaxy S4
OS: Android 21
CardScan version: 1.0.5001

The gray piece is the same size of a normal visa credit card, its just a template so I dont leak sensitive information.

![Screenshot_2019-08-21-11-24-12](https://user-images.githubusercontent.com/1361280/63421230-831cdc80-c408-11e9-8ed0-496a24382d48.png)

[2019-08-21 10:37] Abdelrhman22 commented on #32
thanks for interest .

[2019-08-21 11:08] kingst commented on #33
We have a Note 3 that is from the same era as the s4, let me take a look at it today to see if I can reproduce this.

[2019-09-02 09:30] arbitur commented on #33
@kingst Whats the status?

[2019-09-02 10:53] #32 closed

[2019-09-02 10:55] kingst commented on #31
Closing this issue. Please feel free to provide me with a simple example that helps reproduce the issue and I'll take a look.

[2019-09-02 10:58] kingst commented on #33
The Note 3 worked fine and I've been looking through our data and I can't seem to find any data on the S4, so I don't think it's that popular of a phone anymore. I will say that the GPU on an S4 is likely to struggle with our machine learning model so it might take a long time, but it's also true that the aspect ratio needs to be right or else or model doesn't work.

[2019-09-26 08:26] magedsoham opened #35 "screen appears weird !!! xiaomi note 7"
![WhatsApp Image 2019-09-26 at 10 24 40](https://user-images.githubusercontent.com/29300764/65671663-eb825d80-e047-11e9-9e53-7673a7068512.jpeg)

[2019-09-26 08:38] Abdelrhman22 commented on #35
I have the Same issue .

[2019-09-26 13:31] kingst commented on #35
@Abdelrhman22 do you also have a Xiaomi 7 or is this on another device?

[2019-10-02 14:26] kingst commented on #35
I just picked up one of these devices myself, we'll see if I can reproduce this bug when it arrives.

[2019-10-02 14:28] kingst commented on #35
Looks like this is a duplicate of #31 I'm going to close this one and consolidate the discussion there. Note: I'm still pretty new to Github, let me know if this isn't the typical protocol.

[2019-10-02 14:28] #35 closed

[2019-10-03 19:46] magedsoham commented on #31
No we are developing a native android app

[2019-10-03 19:49] Abdelrhman22 commented on #35
We are working on the same project , let me keep in contact with you

[2019-10-03 19:50] kingst commented on #31
Ok, good to know. I just got my Xiaomi 7 phone today so hopefully I can reproduce it soon and post a fix.

[2019-10-03 19:55] Abdelrhman22 commented on #31
As maged mentioned , it is native android app .

[2019-10-05 12:44] kingst commented on #31
ok, fix on the way. Here is the PR https://github.com/getbouncer/cardscan-android/pull/38 and we'll push a new release out either this weekend or early next week

[2019-10-06 18:34] sherif-farid opened #40 "issue when merge to android x"
please update dependencies to androidX

[2019-10-06 19:12] kingst commented on #31
Ok, I just shipped version `1.0.5102`, try it out and let me know if it fixed it.

[2019-10-06 19:14] kingst commented on #33
We just made a number of changes that should fix this. You'll still see a bit of distortion in the cards on your S4 but it doesn't affect the machine learning pipeline which uses the video (the on screen content is just a preview). The version that should be better is `1.0.5102`, let me know if it's better.

[2019-10-07 12:12] magedsoham commented on #31
Perfect !! working fine now.

[2019-10-07 12:30] kingst commented on #31
Ok, closing this issue

[2019-10-07 12:30] #31 closed

[2019-10-07 12:35] kingst commented on #40
Which version of the library are you using? We've tested it with apps that use androidx and it doesn't have any problems. Can you provide an example that shows the issue?

[2019-11-06 22:43] eddiecrawford commented on #40
I'm experiencing the same thing with the latest `1.0.5105` release.

IE:
[code]

After adding these to my gradle's `android {}` space:
[code]
It compiles... However, I don't like having to rely on that solution 😬

[2019-11-07 02:02] #33 closed

[2019-11-07 02:04] kingst commented on #40
Ok, I'll look into this. I'll either have the conversion in place this week or an answer as to why it will take longer.

[2019-11-08 19:33] kingst commented on #40
It's coming -- we'll do a deploy later today https://github.com/getbouncer/cardscan-android/pull/48

[2019-11-08 22:16] kingst commented on #40
Merged and deployed, version `1.0.5106` includes AndroidX support, closing issue

[2019-11-08 22:16] #40 closed

[2019-11-09 02:42] eddiecrawford commented on #40
Solid! Awesome turnaround on this.
Thank you 🙏

[2019-11-25 16:11] SOFSPEEL opened #52 "CardScan crashes after minimize then maximize app"
- open cardscan

- minimizing app

- maximizing app

- app crahes

Occurs on following phone:
![image](https://user-images.githubusercontent.com/1612646/69557312-38f14d00-0f5b-11ea-9a92-ab4ac3dd5a38.png)

[code]

[2019-11-25 18:45] awushensky commented on #52
I'm able to reproduce this. Fix is in progress.

[2019-11-25 19:42] awushensky commented on #52
Fix is in SDK version `1.0.5111`. Can you please test and confirm?

[2019-11-25 19:44] awushensky commented on #52
@SOFSPEEL 1.0.5111 is now available in bintray.

[2019-12-01 16:16] ChanakaWeerasinghe opened #61 "ERROR: Unable to resolve dependency for ':app@debugAndroidTest/compileClasspath': Could not resolve com.getbouncer:base:1.0.5109."
ERROR: Unable to resolve dependency for ':app@debugAndroidTest/compileClasspath': Could not resolve com.getbouncer:base:1.0.5109.
Show Details
Affected Modules: app

[2019-12-01 17:59] awushensky commented on #61
are you on the latest master? looking at the build file, it should be referencing `:cardscan-base` instead of `:base`

https://github.com/getbouncer/cardscan-android/blob/master/app/build.gradle#L24

can you please pull and try again?

[2019-12-02 04:28] ChanakaWeerasinghe commented on #61
it doesent work i have clone project and it gives following error

ERROR: Plugin [id: 'com.jfrog.bintray', version: '1.7.3'] was not found in any of the following sources:

- Gradle Core Plugins (plugin is not in 'org.gradle' namespace)
- Plugin Repositories (could not resolve plugin artifact 'com.jfrog.bintray:com.jfrog.bintray.gradle.plugin:1.7.3')
  Searched in the following repositories:
    G

[2019-12-02 23:42] awushensky commented on #61
This is a different error than the first problem you posted. This seems like you're not pulling from jcenter. Could this be a connection issue? The [main build.gradle](https://github.com/getbouncer/cardscan-android/blob/master/build.gradle#L6) file indicates that your build should be searching the jcenter repository.

However, if this is presenting a problem, you could remove the jfrog plugins fro

[2019-12-02 23:49] #52 closed

[2019-12-03 09:35] Abdelrhman22 opened #63 "Library not Scan at all"
not scan any card , any more .

[2019-12-10 07:25] magedsoham opened #66 "Can't scan Card Starts with "50""
We have a new card Called meeza in Egypt which it's number starts with "50"
we can't scan it
could you please add this network type to your code ASAP

[2019-12-10 07:37] magedsoham commented on #66
can't scan also card starts with "527803"

[2019-12-12 18:47] awushensky commented on #61
Closing this issue due to inactivity. Please re-open if the problem persists.

[2019-12-12 18:47] #61 closed

[2019-12-12 23:31] awushensky commented on #66
Thanks for pointing this out. I've filed a ticket to address this. We'll probably do something similar to what Stipe does: https://github.com/stripe/stripe-ios/blob/master/Stripe/STPBINRange.m

[2019-12-18 03:22] awushensky commented on #66
https://github.com/getbouncer/cardscan-android/pull/72

[2019-12-18 03:24] awushensky commented on #66
fix has been released as https://github.com/getbouncer/cardscan-android/releases/tag/1.0.5119

[2019-12-18 03:25] #66 closed

[2019-12-18 03:25] awushensky commented on #63
Can you please be more specific? The library appears to be scanning cards in our test apps.

[2019-12-18 03:59] Abdelrhman22 commented on #63
It have been solved .

[2019-12-18 20:47] #63 closed

[2019-12-24 13:59] Zennaxxtech opened #77 "Show Enter card Manual"
I have checked same version in iOS and its provide the facility that **Enter Card manual** label in bottom same as below image
![8611842B-52AC-44CC-A97E-15FAEAAC0D19](https://user-images.githubusercontent.com/35910585/71415790-8e686900-2683-11ea-9390-ac4f5257e536.jpg)
 but in android I am unable to set that label. Please let me know how to set that type of label in android also and get its onClick

[2019-12-24 17:10] kingst commented on #77
What do you think @awushensky ?

[2019-12-24 23:37] awushensky commented on #77
Thanks for pointing this out. @xsl will take a look at it.

[2019-12-25 11:03] Zennaxxtech commented on #77
I know might be take long time but let me know approx time.

[2020-01-07 19:32] awushensky commented on #77
I believe there is a PR out for this now. I expect this will merge in the next few days.

[2020-01-08 07:26] praveeng145 opened #80 "NPE in ScanBaseActivity.onClick()"
Crash log -
[code]

As per Android docs [here](https://developer.android.com/reference/android/hardware/Camera.Parameters.html#getFlashMode()) -  `Camera.Parameters.getFlashMode()` can be null.

[code]

We are using `com.getbouncer:cardscan:1.0.5001` version but this crash can happen on the latest version as well because the master branch don't have a null-check [here](https://github.com/getbounce

[2020-01-08 23:32] awushensky commented on #80
Thanks for finding this, I'm working on fixing it now.

[2020-01-08 23:54] awushensky commented on #80
A fix has been released as part of 1.0.5122. Thank you for reporting!

[2020-01-08 23:54] #80 closed

[2020-01-14 00:58] xsl commented on #77
hey @Zennaxxtech, we just released a change that will allow you to toggle this via an intent.

See the following for examples:

https://github.com/getbouncer/cardscan-android/blob/master/cardscan/src/main/java/com/getbouncer/cardscan/ScanActivity.java#L69
https://github.com/getbouncer/cardscan-android/blob/master/cardscan-base/src/main/java/com/getbouncer/cardscan/base/ScanActivityImpl.java#L27

[2020-01-14 07:23] iKhan1057 commented on #29
For Android:
 I have tested various cards, but **expiry date** is not getting detected at all.
To help none of the cards have scratch.

Card Number detection is perfect.

[2020-01-15 13:39] Zennaxxtech commented on #77
Thank you so much for this solution. I have taken latest pull and try to open ScanActivity as you explained above but there is not any [this type of line](intent.putExtra(ScanActivityImpl.SHOW_ENTER_CARD_MANUALLY_BUTTON, showEnterCardNumberManually);) in the ScanActivity class. I have tried in another project also but same issue. So please let me know still its not merged or I am doing something w

[2020-01-15 15:49] iKhan1057 opened #82 "name and expiry date"
Guys can you help me if there is possibility to get name of the card holder(if there) and expiry date.

[2020-01-15 19:28] awushensky commented on #82
Hi @iKhan1057 , we're currently working on adding support for both of these! We roughly estimate we'll have them implemented by 2020 Q2

[2020-01-15 19:53] awushensky commented on #77
Hi @Zennaxxtech , to clarify, you should now be able to call `ScanActivity.start(this, true, true)` to show the enter card manually button. You should not need to specifically modify any intents.

If you're using `jcenter` to include cardscan in your app, you'll need to update your version to `1.0.5123` to see these changes.

[2020-01-16 08:41] Zennaxxtech commented on #77
Hi @awushensky , I am able to get the `Enter card manually` option's on Scanning Activity. Thank you so much.
There is one another confusion and if you can give suggestion then please let me know that how can I differentiate that user is pressed `Close` button or `Enter card Manually` button in `onActivityResult()` method?

[2020-01-16 09:22] #77 closed

[2020-01-16 18:22] awushensky commented on #77
Absolutely. The intent passed to `onActivityResult()` will have an extra value `"result_enter_card_manually"` set to `true` if the user tapped that button.

See this line for details:
https://github.com/getbouncer/cardscan-android/blob/master/cardscan-base/src/main/java/com/getbouncer/cardscan/base/ScanBaseActivity.java#L535

[2020-01-27 10:25] mahmoudjafarinejad opened #88 "Modify access levels in "Overlay.java" class"
Hi! We are trying to use the library by adding the dependency, however, we need to customize the overlay class so we could have our own overlay. Is it possible for you to change the access levels of the methods and parameters in the "Overlay.java" class from "private" to "protected"? This way we can have our own overlay which extends yours.

[2020-01-27 14:36] Olexiy98 opened #89 "Crash on android 5 Lenovo"
I don't have stacktrace but crash reproduced every time when open ScanActivityImpl, lib version is  1.0.5126

[2020-01-30 20:05] awushensky commented on #88
Thanks for reporting @mahmoudjafarinejad ! this has been included in 1.0.5127

[2020-01-30 20:05] #88 closed

[2020-01-30 20:07] awushensky commented on #89
Thank you for reporting @Olexiy98 . Do you know what model device the crash occurred on specifically?

[2020-02-05 19:37] awushensky opened #95 "test"
this is a test to see if we get notified.

[2020-02-05 19:37] #95 closed

[2020-02-05 19:37] awushensky commented on #95
we did!

[2020-02-14 13:03] Olexiy98 commented on #89
Meizu m2 note

[2020-03-02 20:37] Tronicnotes opened #111 "Enhancement: Customise the image assets"
* Allow use of a custom image resource for the torch button.
* Allow use of a custom back button resource.

[2020-03-02 22:02] Tronicnotes commented on #111
Overriding resources seems to work

[2020-03-02 22:02] #111 closed

[2020-03-04 21:48] Tronicnotes opened #113 "Unable to detect expiry date"
There still appears to be issues reading the credit card expiry values.  Card number detection works well, but the expiry won't be picked up at all.  Have tried a variety of valid cards and different devices, none of which can detect the expiry.  These cards have all the details on the front.

For reference, this valid testing card image was used https://miro.medium.com/max/1778/0*KcSus6ZmvPhsKWnS

[2020-03-05 17:29] kingst commented on #113
tl;dr: it's only on iOS for now, but coming to Android soon.

details: Running deep neural nets on Android is really really hard. We have a model that pulls out the card number and expiry on iOS and works well due to the hardware acceleration for ML on their phones. However, when we shipped that same model on Android it struggled on low end devices, which are important. We completely revamped the

[2020-03-18 09:25] Buckstabue opened #119 "Can you lower the min SDK?"
Our android application min sdk is 19, while this lib requires at least 21. Is it possible to lower the min sdk?

[2020-03-19 14:46] kingst commented on #119
We just recently updated this so as a short term fix you can use version `1.0.5139` which still has a min sdk of 19, but we'll bump this thread when we have a more concrete answer about the future of our SDK version.

[2020-03-19 18:34] awushensky commented on #113
I'm going to close this issue since it's a duplicate of https://github.com/getbouncer/cardscan-android/issues/82.

[2020-03-19 18:34] #113 closed

[2020-03-19 20:29] awushensky commented on #119
Hi @Buckstabue , we've released version 1.0.5143, which reduces the min sdk version to 19.

I'm going to close this issue as resolved. Please re-open if you encounter an issue with this build.

[2020-03-19 20:29] #119 closed

[2020-03-19 20:45] awushensky commented on #89
Is there any way you can get a stack trace? I am attempting to get ahold of one of these phones, but it's difficult.

[2020-04-01 01:52] Buckstabue opened #126 "Support androidX fragments"
Your `ScanActivity` has a method start(fragment) which accepts android native fragments. AFAIK, using native fragments is deprecated. Could you please add a method accepting androidX fragment?

[2020-04-01 06:33] awushensky commented on #126
Definitely. https://github.com/getbouncer/cardscan-android/pull/127

[2020-04-01 07:02] awushensky commented on #126
This change was released in 1.0.5144.

[2020-04-01 07:02] #126 closed

[2020-04-23 17:17] valeriandema commented on #82
Hi @awushensky! we are about to decide what tools to choose for scanning bank cards and we enjoy working your cardscan! the only thing that confuses is detecting expiry date. it was said it's needed 1-2 months to solve the issue, so could you please give an estimated time of resolving? sorry for asking the same question guys, but it's important for us

[2020-04-27 21:51] awushensky commented on #82
Hi @valeriandema, we're actively working on expiry date. At this point it looks like it will be another 1 to 2 months before it's usable, an another few months after that before it's as reliable as number detection. We've been focusing on improving performance with our detection models and this slipped as a result.

[2020-04-28 15:50] valeriandema commented on #82
thank you @awushensky !

[2020-07-08 13:39] JavaYank opened #150 "How to scan other types of cards?"
Hello! Thanks for the library, it scans visa cards well!

How can I scan cards that start with "8600 ..." or "9860 ..." or "6262 ..." ?

[2020-07-08 19:56] awushensky commented on #150
Hi @JavaYank !

Thanks for the question, we're always working to support new types of cards, however this repository is out of date. We released version 2.0 here a few months ago: https://github.com/getbouncer/cardscan-ui-android .

Regarding the IINs you're asking about, we do not currently support these cards, but I'm happy to add support for them. I looked up these numbers on multiple sites (bi

[2020-07-09 04:54] JavaYank commented on #150
These INNs are valid for Uzbekistan.

1. Uzcard. It has a number length of only 16 digits. Starts at 8600 31 .., where 860 is the national currency (shorturl.at/fzCH5), and 031 is the bank id. Now the maximum bank id is 059. But in the next 10-15 years, 41 banks will definitely not open for us, so that the id exceeds 100 (example 8601 00 ..). So you can safely use the first 4 digits of 8600 as a U

[2020-07-18 02:03] awushensky commented on #150
Thanks for the info. I'll confirm these details and put a fix in. It might be a week or two before I have time to implement.

[2020-07-20 09:42] awushensky commented on #82
Hi @valeriandema , sorry for the delay, we have released version 2.0.0014 which contains name and expiry scanning. Please see the documentation for details: https://docs.getbouncer.com/card-scan/android-integration-guide

[2020-07-22 01:08] #82 closed

[2020-07-22 01:12] awushensky commented on #89
Hi @Olexiy98 , we've updated the version of TFLite we use in the app. Please try with the latest release 2.0.0017.

Here is the original bug that was marked fixed in TFLite: https://github.com/tensorflow/tensorflow/issues/31114

[2020-08-12 23:26] awushensky commented on #89
I'm closing this issue since I believe it has been fixed. Please feel free to re-open it if it reoccurs.

[2020-08-12 23:26] #89 closed

[2020-08-13 05:52] JavaYank commented on #150
Hello! Haven't you edited the library yet?

[2020-08-17 20:49] awushensky commented on #150
hey @JavaYank , sorry for the slow action on this item. We have been very busy implementing other features throughout the code base.

This was prioritized for this week, and we should have methods available by EoW that support adding custom card issuers.

[2020-08-18 01:18] #150 closed

[2020-08-18 01:26] smkuhne commented on #150
@JavaYank You can now add your own valid cards as follows

`PaymentCardUtils.supportCardIssuer(626200..626299, CardIssuer.Custom, listOf(16), listOf(3))`

The above would roughly means that you now support cards that start with 6262, that have a length of 16, and with a security code (CVC) of length 3. There is also an optional fifth argument that allows you to change how the card number (pan) is

[2020-08-18 20:27] awushensky commented on #150
Documentation is now available: https://docs.getbouncer.com/liveness-check/android-integration-guide/android-card-support

[2020-08-19 07:15] JavaYank commented on #150
thank you man)

[2020-09-08 09:41] fondesa opened #202 "Analyzer failure with DexGuard enabled"
When DexGuard is enabled, as soon as a `CardScanActivity` is opened and the camera permissions are accepted, the activity closes itself automatically invoking `CardScanActivityResultHandler.analyzerFailure()`.

Adding the following rule fixes the problem:
[code]

Important notes:
- Everything works correctly if DexGuard is disabled
- It does not depend on the API key
- It fails on all the devices

[2020-09-08 19:11] awushensky commented on #202
Thanks for the report @fondesa ! I've added your suggestion to our proguard rules files and have released version 2.0.0029 which includes the new proguard rules. Please let me know if anything else needs to change.

[2020-09-08 19:11] #202 closed

[2020-09-24 08:12] loxyz-tw opened #223 "Demo app crashed"
1.
The values of bouncerViewFinderVerticalBias and bouncerViewFinderHorizontalBias in dimensions.xml [scan-ui] should be 0.5, not 50.0%, since the values are used in a ConstraintLayout in activity_single_demo.xml.
Not sure if these values are used in other place.

2.
In SingleActivityDemo.java, line 392: "%s\n%s\n%d/%d\n%s\n%s", the %d/%d should be %s/%s, because the arguments below are all string

[2020-09-24 08:46] awushensky commented on #223
Thanks for your report! I'm currently re-writing the UI to be programmatic instead of XML defined so that it can be more easily customized by customers. This appears to be the result of that rewrite.

When I was re-writing the activity UI, I changed these from floats to fractions. I'll revert this.

[2020-09-24 08:56] awushensky commented on #223
A fix has been merged to master, and a new release has been cut (version 2.0.0035) with the fix.

I'm planning to do some housekeeping on the single activity demo this week and simplify much of the UI code as well.

[2020-09-24 18:34] awushensky commented on #223
I'm closing this issue since the fix was put in place. Please feel free to reopen it if anything else needs to change.

[2020-09-24 18:34] #223 closed

[2020-10-23 02:55] dannysunyu opened #256 "Integration of the library shows this."
[code]

[2020-10-23 17:56] awushensky commented on #256
Hi @dannysunyu ,

Is this while building our example application, or is this while integrating into your own project? If your own project, do you have a conflicting version of `core-ktx` in your project? Our SDK uses the latest, version `1.3.2`.

[2020-11-25 22:47] awushensky commented on #256
Hi @dannysunyu , I'm going to close this issue since there has been no activity on it for a month. Please feel free to re-open if the issue persists.

[2020-11-25 22:47] #256 closed

[2020-12-10 16:55] francescocervone opened #291 "Mention new introduced strings in changelog and docs."
`bouncer_processing_card` string resource has been added in `2.0.0049` release, but it wasn't mentioned in your [changelog](https://github.com/getbouncer/cardscan-android/blob/master/CHANGELOG.md) nor in your [documentation](https://docs.getbouncer.com/card-scan/android-integration-guide/ui-customization-guide#text-and-localization).

It's not easy for clients making sure that all string resources

[2020-12-11 19:01] awushensky commented on #291
@francescocervone Apologies! I'll try to be more rigorous about this process going forward

[2020-12-11 19:06] awushensky commented on #291
I have added that string to our documentation. Going forward, I'll be checking any PRs for new strings and adding them there and in the changelog.

[2020-12-11 19:06] #291 closed

[2020-12-11 19:25] francescocervone commented on #291
Thanks!

[2020-12-18 20:44] awushensky opened #299 "Crash on animation"
Reported from an email:

![Screen Capture_select-area_20201127144043](https://user-images.githubusercontent.com/3195627/102659637-963fd980-412e-11eb-98db-065a811c52f5.png)
![Screen Capture_select-area_20201127151146](https://user-images.githubusercontent.com/3195627/102659641-97710680-412e-11eb-928b-c3c4a63c81b9.png)

[2020-12-18 20:46] awushensky commented on #299
I've asked the original reporter for details on the devices where these crashes occurred and their frequency.

[2021-02-04 17:33] ornolisvt opened #316 "Card scan crash on release"
When generating a release with minifyEnabled and shrinkResources on true. The following error occurs when the card is finished scanning

Fatal Exception: java.lang.RuntimeException: Unknown animation name: x
       at android.view.animation.AnimationUtils.createAnimationFromXml(AnimationUtils.java:216)
       at android.view.animation.AnimationUtils.createAnimationFromXml(AnimationUtils.java:180)

[2021-02-04 20:19] awushensky commented on #316
I'm able to reproduce this crash.

[2021-02-04 20:24] ornolisvt commented on #316
Thank you, please, notify here when it has been corrected

[2021-02-04 20:42] #299 closed

[2021-02-04 20:42] #316 closed

[2021-02-04 20:43] awushensky commented on #316
The fix for this crash is deploying now as version `2.0.0072`. ETA 20 minutes.

[2021-02-04 20:45] ornolisvt commented on #316
Thanks very much

[2021-02-04 20:52] awushensky commented on #316
Release is completed. Thanks for reporting the crash!

[2021-02-08 17:10] fondesa opened #319 "java.lang.NoClassDefFoundError: Failed resolution of: Lorg/tensorflow/lite/Interpreter$Options in 2.0.0072"
Affected versions: **2.0.0071** and **2.0.0072**

### Description
When `CardScanActivity` is opened, it's closed automatically printing the following warning:

[code]

The version **2.0.0070** works correctly.

[2021-02-08 19:54] awushensky commented on #319
hi @fondesa , we changed how we import TensorFlow Lite in version 2.0.0071. Can you please add an explicit dependency to one of the following depending on your use case?

1. `implementation 'com.getbouncer:tensorflow-lite:2.0.0071'` if you're not using TFLite anywhere else in your app
2. `implementation 'com.getbouncer:tensorflow-lite-arm-only:2.0.0071'` if you're not using TFLite anywhere else in

[2021-02-09 08:27] fondesa commented on #319
Sorry, I had read only the changelog and not the documentation before updating it. Adding the TensortFlow Lite dependency fixes the problem, thanks.

[2021-02-09 08:27] #319 closed

[2021-02-09 19:43] awushensky commented on #319
This should have been more clear in the changelog. I'll make sure to note larger changes like this there going forward. Thanks for pointing that out!

[2021-03-22 19:36] awushensky opened #332 "Require specifying ML models through dependencies"
To allow customers to select which ML models are included in the SDK by default, we're adding new required dependencies to our SDK. See https://docs.getbouncer.com/bouncer-scan/credit-card-ocr/android-integration-guide#installation for details.

Customers will have to select between minimal models and full models by specifying the getbouncer modules they depend on. **It is important that you selec

[2021-03-23 03:26] #332 closed

[2021-03-25 06:01] mihirmodiofficial commented on #82
i still cannot extract month and year everytime. only sometime it extracts month and year and that to be wrong.

using sdk version: - com.getbouncer:cardscan-ui:2.0.0059

set initializeNameAndExpiryExtraction to true

[2021-03-25 06:02] mihirmodiofficial opened #336 "name and year extraction not working"
i still cannot extract month and year everytime. only sometime it extracts month and year and that to be wrong.

using sdk version: - com.getbouncer:cardscan-ui:2.0.0059

set initializeNameAndExpiryExtraction to true

_Originally posted by @mihirmodiofficial in https://github.com/getbouncer/cardscan-android/issues/82#issuecomment-806387255_

[2021-04-01 02:36] letusneil opened #346 "Feature request: scan a vertical/portrait card"
Right now the UI is only for horizontal/landscape cards. But in Asia, banks have been designing vertical cards and it would be great to have this feature!

[2021-04-01 18:48] awushensky commented on #346
@letusneil can you show me an example card?

[2021-04-12 07:25] francescocervone opened #348 "Fatal exception due to wrong coroutine context"
We got a crash in production.
CardScan should switch to the main coroutine context before opening the alert dialog.
Here is the stacktrace.

[code]

[2021-04-12 19:31] awushensky commented on #336
hi @mihirmodiofficial , apologies for the very slow response, I didn't get notified of this issue.

Name and expiry extraction is not guaranteed on scan, but it is a best effort by the library. We have made substantial improvements to both name and expiry extraction in recent versions of the SDK. Can you please upgrade to the latest version (2.0.0082 as of this comment) and check to see if extract

[2021-04-12 19:31] #348 closed

[2021-04-12 19:32] awushensky commented on #348
@francescocervone Thank you very much for the report. I've changed our camera code to ensure the error handler is called on the main thread only. This will go out today as part of release 2.0.0083.

[2021-05-03 22:11] awushensky commented on #336
Closing this issue due to inactivity. Please feel free to re-open.

[2021-05-03 22:11] #336 closed

[2021-05-03 22:11] awushensky commented on #346
Closing this issue due to inactivity. Please feel free to re-open.

[2021-05-03 22:11] #346 closed

[2021-06-03 22:59] elijahfreestone opened #388 "Some card scans reversed"
Hello, I'm seeing an intermittent issue where sets of numbers on some debit card scans are getting reversed, so card 1234 5678 9101 2345 is read as 2345 9101 5678 1234. Sometimes this is the initial read, while others the card number displayed in the viewfinder will update during processing. I've been able to reproduce this most often seen with a PayPal debit card that has a darker blue background

[2021-06-04 18:16] awushensky-stripe commented on #388
Thanks so much for the report @elijahfreestone ! This is definitely a new one, I'll see if I can reproduce given the test devices I have and get an answer & fix for you.

[2021-06-04 18:59] awushensky-stripe commented on #388
@elijahfreestone are you using the `-minimal` ocr module or the standard ocr module in your Android app? This will help me narrow my focus.

[2021-06-04 19:04] elijahfreestone commented on #388
Hey @awushensky-stripe , we're using the `-minimal`

[2021-06-04 19:51] awushensky-stripe commented on #388
Thanks for clarifying. @henry2304 is helping me look into this.

[2021-06-11 17:28] awushensky-stripe commented on #388
Thanks again for the report! The fix for this bug has been released as part of version `2.1.0001`.

[2021-06-11 17:28] #388 closed

[2021-06-11 17:30] elijahfreestone commented on #388
Wonderful, thank you much!!

[2021-07-06 11:03] jibraniqbal-careem opened #406 "Expiry date overlay doesn't show"
Expiry date overlay doesn't show even though the it detects it.

<img width=250 src= "https://user-images.githubusercontent.com/59829224/124589235-319e5f00-de73-11eb-9ae8-af1ec23fc61b.jpg"/>
<img width=250 src="https://user-images.githubusercontent.com/59829224/124589245-3400b900-de73-11eb-9151-0e788bb566e9.jpg"/>

sdk version = "2.0.0082"
NOTE: Using SDK via VGS card input

[2021-07-06 13:02] fondesa opened #407 "Missing dependency on Maven Central updating to 2.1.0003"
We are using the following dependencies:
[code]

How can we include the minimal models in the update **2.1.0003**?

Following the [documentation](https://docs.getbouncer.com/bouncer-scan/credit-card-ocr/android-integration-guide#full-models), we should use the following dependencies:

[code]

But, the dependency `scan-payment-minimal` apparently isn't on [Maven Central](https://repo1.maven.org/mav

[2021-07-12 18:21] awushensky-stripe commented on #407
My apologies for the slow response, I was out on vacation and didn't see this! Thanks for pointing out the error. These were mistakenly released to maven with the wrong artifact name. I'll correct this immediately and release as part of 2.1.0004.

[2021-07-12 18:25] awushensky-stripe commented on #406
Hi @jibraniqbal-careem , this is by design. Since we don't always capture the expiry date, we don't show the expiry during the scan screen. Is this a requirement for your use case?

[2021-07-12 18:52] #407 closed

[2021-07-12 18:53] awushensky-stripe commented on #407
This has been merged and is [releasing now](https://github.com/getbouncer/cardscan-android/releases/tag/2.1.0004). It will go out as part of 2.1.0004.

[2021-07-19 19:32] awushensky-stripe commented on #406
Closing this due to inactivity. Please feel free to re-open!

[2021-07-19 19:32] #406 closed

[2021-07-20 17:50] EMHankombo opened #427 "Are Tensorflow/lite vulnerabilities a concern?"
We are using 'com.getbouncer:cardscan-ui:2.1.0004' along with 'org.tensorflow:tensorflow-lite:2.5.0'. Running a dependency check (https://github.com/dependency-check/dependency-check-gradle) on our build has flagged the following vulnerability with the tensorflow - https://nvd.nist.gov/vuln/detail/CVE-2021-35958#vulnCurrentDescriptionTitle .

Even using 'com.getbouncer:tensorflow-lite-arm-only:2.1

[2021-07-20 21:31] awushensky-stripe commented on #427
Thank you for raising the concern. Bouncer does not make use of the `tf.keras.utils.get_file` call anywhere, so we should be safe from this vulnerability.

[2021-07-20 21:35] #427 closed

[2021-07-21 09:28] EMHankombo commented on #427
Thank you very much.

[2021-07-27 09:16] francescocervone opened #434 "CardScanActivity vs CardScanFlow warmUp/prepareScan"
I have a doubt about the public API.
It looks like `CardScanActivity` and `CardScanFlow` companion objects have pretty much the same public API.
Documentation says we should use `CardScanActivity.warmUp`, but for some reason we always used `CardScanFlow`.
Now that in release [2.1.0008](https://github.com/getbouncer/cardscan-android/releases/tag/2.1.0008) with https://github.com/getbouncer/cardscan

[2021-07-28 07:12] francescocervone opened #435 ""Cannot add a null child view to a ViewGroup" Exception on Camera1Adapter"
Version: 2.1.0007

[code]

[2021-07-29 20:14] awushensky-stripe commented on #435
Thanks for reporting @francescocervone ! This is a weird one, definitely. let me see if I can reproduce the problem.

[2021-07-29 23:21] awushensky-stripe commented on #434
Hi @francescocervone , sorry for the confusion here. You're correct that CardScanActivity is the public interface, and CardScanFlow is more internal to the application. Unfortunately, I cannot make CardScanFlow `internal` since the CardVerify product extends the functionality of the `CardScanFlow` class in another package. However, I can restrict access to the library, so that's what I'll do.

Tha

[2021-07-29 23:21] awushensky-stripe commented on #434
https://github.com/getbouncer/cardscan-android/pull/436

[2021-07-29 23:21] awushensky-stripe commented on #435
https://github.com/getbouncer/cardscan-android/pull/436

[2021-07-29 23:33] #434 closed

[2021-07-29 23:33] #435 closed

[2021-07-30 06:51] francescocervone commented on #434
Thanks!

[2021-09-15 07:01] francescocervone opened #448 "java.lang.RuntimeException: getParameters failed (empty parameters)"
Device: Redmi Note 9 Pro
OS version: Android 11
Library version: CardScan 2.1.0010

[code]

[2021-09-15 21:24] #448 closed

[2021-09-15 21:25] awush-stripe commented on #448
This has been released as part of 2.1.0012

[2021-12-22 21:23] Tuneabq opened #478 "No issue"

[2021-12-22 21:24] Tuneabq opened #479 "No issue"

[2021-12-22 21:30] Tuneabq opened #480 "good job"
good job

_Originally posted by @rdenton3 in https://github.com/Kareem1990/git-guide/pull/1#pullrequestreview-836954785_

[2022-02-06 20:20] caseykulm opened #486 "Classes removed without major version bump or deprecation notice"
While upgrading `com.getbouncer:cardscan-ui` from 2.1.0020 to 2.1.0023 the build no longer works because of unresolved references:

[code]

These classes were removed without bumping the major version (which breaks semantic versioning, and was therefore unexpected https://semver.org/), and there were no deprecation notices in the code for the 2.1.0020 artifact.

Is there any sort of migration guid

[2022-02-08 21:28] awush-stripe commented on #486
Apologies @caseykulm ! This code is currently migrating to Stripe infrastructure, and I missed this. You're correct this should have been a major version bump.

I'll update the git readme shortly with an integration example. It should be a relatively small change.

Apologies again!

[2022-02-08 21:31] caseykulm commented on #486
All good, thanks for the response! Will check it out.

[2022-02-08 21:42] awush-stripe commented on #486
In the mean time, please take a look at the example app in this repo, which uses that interface.

https://github.com/getbouncer/cardscan-android/blob/master/cardscan-demo/src/main/java/com/getbouncer/cardscan/demo/LaunchActivity.java

[2022-02-09 15:38] iamrealkaustubh opened #487 "Getbouncer console not accessible."

[2022-02-09 23:19] awush-stripe commented on #487
Hi @iamrealkaustubh ,

As we continue to migrate into Stripe’s ecosystem, we deprecated the bouncer console (http://api.getbouncer.com/console) on February 8, 2022 - If you would like access to your API keys, please email [bouncer-support@stripe.com](mailto:bouncer-support@stripe.com).

Going forward, new signups will use the new [Stripe SDK](https://github.com/stripe/stripe-android/tree/master/st

[2022-02-15 19:35] #478 closed

[2022-02-15 19:36] #480 closed

[2022-02-15 19:36] #479 closed

[2022-02-15 19:37] #487 closed

[2022-02-24 16:09] francescocervone opened #491 "The new CardScanSheet API doesn't deliver result when starter activity is destroyed"
The new "not-yet-documented" `CardScanSheet` API (https://github.com/getbouncer/cardscan-android/issues/486) does not work correctly when the starter activity is destroyed due to low memory conditions.

The API registers the result callback in the [`CardScanSheet.present`](https://github.com/getbouncer/cardscan-android/blob/master/cardscan-ui/src/main/java/com/getbouncer/cardscan/ui/CardScanSheet.

[2022-02-24 16:31] francescocervone opened #492 "The new CardScanSheet API is not testable"
The new "not-yet-documented" CardScanSheet API (https://github.com/getbouncer/cardscan-android/issues/486) does not allow clients to pass a custom `ActivityResultRegistry`, needed to make the activity result testable, as [suggested by the official guide](https://developer.android.com/training/basics/intents/result#test).

[2022-02-24 16:35] francescocervone opened #493 "The new CardScanSheet API is not testable"
The new "not-yet-documented" CardScanSheet API (https://github.com/getbouncer/cardscan-android/issues/486) does not allow clients to pass a custom `ActivityResultRegistry`, needed to make the activity result testable, as [suggested by the official guide](https://developer.android.com/training/basics/intents/result#test).

[2022-02-24 17:04] francescocervone commented on #492
This issue can be worked-around using espresso-intents.

[2022-02-25 08:17] francescocervone commented on #493
I don't know what happened. Duplicate of #492

[2022-02-25 08:17] #493 closed

[2022-02-28 22:54] awush-stripe commented on #492
Thanks for the report @francescocervone . I'll get this added.

[2022-02-28 22:58] awush-stripe commented on #491
Great callout. Thank you for the report! I'll address this ASAP.

[2022-03-09 08:10] dwardy0101 opened #494 "failed to build in android studio bumblebee"
Caused by: groovy.lang.MissingPropertyException: Could not get unknown property 'sonatypeStagingProfileId' for object of type io.github.gradlenexus.publishplugin.NexusRepository.
	at org.gradle.internal.metaobject.AbstractDynamicObject.getMissingProperty(AbstractDynamicObject.java:88)
	at org.gradle.internal.metaobject.ConfigureDelegate.getProperty(ConfigureDelegate.java:130)
	at build_76cjshiqpqo

[2022-03-11 20:50] awush-stripe commented on #494
Hi @dwardy0101 , you can comment out the following line in the associated `build.xml` files:

[code]

[2022-03-14 06:39] dwardy0101 commented on #494
Hello,

I tried removing this and I still get the error. I cant build the app.

[code]

[2022-03-14 13:12] Tuneabq opened #495 "Qr code"
Tune

[2022-03-15 17:42] awush-stripe commented on #494
Hi @dwardy0101 ,

Try adding the following lines to your `local.properties` file. These example values should satisfy the missing field requirement.

[code]

[2022-03-17 01:52] dwardy0101 commented on #494
thanks, @awush-stripe

[2022-03-17 04:03] #495 closed

[2022-03-22 23:04] #492 closed

[2022-03-28 18:00] #491 closed

[2022-03-28 18:52] #494 closed

[2022-04-11 07:30] francescocervone opened #506 "Crash when intent is null in parseResult callback"
Result intent can be null. Library should not always assume that it is always not null.
[code]

[2022-04-11 21:32] #506 closed

[2022-04-11 21:33] awush-stripe commented on #506
Thanks for the report! The fix for this will go out today as part of `2.2.0002`

[2022-06-15 15:16] Sikorrr opened #522 "Api key in examples does not work"
How to get the api key?

[2022-06-15 16:00] awush-stripe commented on #522
Hi @Sikorrr , this SDK has been deprecated and the code moved over to Stripe. See https://github.com/stripe/stripe-android/tree/master/stripecardscan

[2022-06-22 17:13] #522 closed

[2022-08-29 12:32] ananth10 opened #536 "Unable to create an APK key"
Hi Team,

I have integrated Card Scan Ocr in my android application but I am not able create an API key because that link [Bouncer API console](https://api.getbouncer.com/console) given in README is broken. please check the attached screenshot and let me know the updated bouncer console website link.

Thanks!!
<img width="1546" alt="Screenshot 2022-08-25 at 4 58 34 PM" src="https://user-images.git

[2022-08-29 18:16] awush-stripe commented on #536
Hi @ananth10 , thank you for calling out the broken link, I'll update that portion of the README. This project was replaced by [stripe cardscan](https://github.com/stripe/stripe-android/tree/master/stripecardscan), and the console has been shut down; new API keys can no longer be provisioned. I believe [we spoke briefly](https://github.com/stripe/stripe-android/issues/5430) on the stripe-android r

[2022-08-30 00:44] ananth10 commented on #536
@awush-stripe Thanks for your reply! I have integrated this bouncer card scan SDK in android app because this SDK able extracts both card number and expiry date and also able to customise scanner UI screen but the new stripe cardscan  only extracts card number now and that is why i have planned to use this bouncer cardscan SDK now and once your team implemented expiry extract feature in stripe car

[2022-08-30 18:12] awush-stripe commented on #536
I understand and empathize with your concerns. The bouncer SDK was about 10% accurate on extracting expiry, which is why we removed it from the stripe cardscan until we can improve it to be much more reliable.

UI customization in the legacy bouncer SDK exposed a lot of our internal APIs that drastically limited the improvements we could make without breaking customization.

On the stripe cardscan

[2022-09-01 07:26] ananth10 commented on #536
@awush-stripe Thanks again!! I will try with the [stripe cardscan](https://github.com/stripe/stripe-android/tree/master/stripecardscan) and hoping expiry extraction feature will be added in sdk soon.

[2022-09-02 15:13] #536 closed, assigned to nobody